{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="{{ ASSETS_ROOT }}/plugins/bootstrap/css/bootstrap.css">
</head>
<body>
    <table border="1" align="center">
      <thead>
        <tr>
          <th scope="col">Tiket</th>
          <th scope="col">Report By</th>
          <th scope="col">Jeni Aduan</th>
          <th scope="col">Aduan</th>
          <th scope="col">Kategori</th>
          <th scope="col">Tanggal Pembuatan</th>
        </tr>
      </thead>
      <tbody>
        {% for tiket in tikets %}
            <tr align="center">
                <th scope="row"><a href="{% url 'tiket:detail' tiket.tiket_move.slug %}" class="text-info">{{tiket.tiket_move.tiket}}</a></th>

                <td>{{tiket.user_move}}</td>
                {% if not tiket.tiket_move.mahasiswa.mahasiswa.nim %}
                <td>Front Desk</td>
                {% else %}
                <td>{{tiket.tiket_move.mahasiswa.mahasiswa.nim}}</td>
                {% endif %}
                <td>{{tiket.tiket_move.jenis_aduan}}</td>
                <td>{{tiket.tiket_move.kategori}}</td>
                <td>
                {% if tiket.state_move.state_name == 'Pending' %}
                <p class="text-c-purple">{{tiket.state_move.state_name}}</p>
                {% elif tiket.state_move.state_name == 'Open' %}
                <p class="text-c-blue">{{tiket.state_move.state_name}}</p>
                {% elif tiket.state_move.state_name == 'process' %}
                <p class="text-c-yellow">{{tiket.state_move.state_name}}</p>
                {% elif tiket.state_move.state_name == 'Finish' %}
                <p class="text-c-green">{{tiket.state_move.state_name}}</p>
                {% elif tiket.state_move.state_name == 'Closed' %}
                <p class="text-c-red">{{tiket.state_move.state_name}}</p>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary m-2" href="{% url 'tiket:createpdf' %}">Create Pdf</a>
</body>
</html>