{% extends "layouts/base.html" %}

{% block title %} Ticket Closed {% endblock title %}

{% block stylesheets %} {% endblock stylesheets %}

{% block content %}
    <div class="pcoded-main-container">
    	<div class="pcoded-wrapper">
    		<div class="pcoded-content">
    			<!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h3 class="m-b-10">Ticket Closed</h3>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:" disabled>Ticket</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Ticket Closed</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                    	<div class="page-wrapper">
                    		<div class="row">
                    			<div class="col-md-12">
                    				<div class="card">
                    					<div class="card-header">
                                            <h5>Ticket Closed</h5>
                                        </div>
                                        <div class="card-block">
                                        <form method="POST">
                                            {% csrf_token %}
                                        {{form}}
                                        <button type="Submit" class="btn btn-primary mt-3">Send</button>
                                        </form>
                                        </div>
                    				</div>
                    			</div>
                    		</div>
                    	</div>
                    </div>
    		</div>
    	</div>
    </div>
{% endblock content %}

{% block javascripts %} {% endblock javascripts %}