{% extends "layouts/base.html" %}

{% block title %} Progress Ticket {% endblock title %}

{% block stylesheets %} {% endblock stylesheets %}

{% block content %}
    <div class="pcoded-main-container">
    	<div class="pcoded-wrapper">
    		<div class="pcoded-content">
    			<!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Progress Ticket</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:" disabled>Ticket</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Progress Ticket</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                    	<div class="page-wrapper">
                    		<div class="row">
                    			<div class="col-md-12">
                    				<div class="card">
                    					<div class="card-header">
                                            <h5>Progress Ticket</h5>
                                        </div>
                                        <div class="card-block">
                                        	<div class="form-group">
                                            <form method="POST" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <table>
                                                    {{tiket}}
                                                    {% for i in form %}
                                                        <label>{{i.label}}</label>
                                                        {{i}}
                                                    {% endfor %}
                                                </table>
                                                <button type="Submit" class="btn btn-primary mt-3"> Kirim</button>
                                            </form>
                                        </div>
                                        </div>
                    				</div>
                    			</div>
                    		</div>
                    	</div>
                    </div>
    		</div>
    	</div>
    </div>
{% endblock content %}

{% block javascripts %}
    
{% endblock javascripts %}